

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   li:hover {
    background-color: orange;
  }

  body {
    background-color: lightcyan;
  }












